
#nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(1, 6, 69);
    height: 8vh;
    align-items: center;
}

#nav #left-cont{
    font-size: large;
    width: 40%;
    padding: 1px;
    color: white;
    text-align: center;
    animation: navAnimate 2s infinite ease-in-out 1s alternate;
}

@keyframes navAnimate {
    from {
        font-size: large;
    }
    to {
        font-size: x-large;
    }
}

#nav #right-cont{
    width: 50%;
    font-size: large;
    justify-content: space-around;
    color: white;
    display: flex;
    margin-right: 50px;
    animation: navAnimate 2s infinite ease-in-out 1s alternate;

}

#right-cont li{
    list-style: none;
    border-radius: 0.375rem;
    padding: 1px;
}
#right-cont li:hover{
    background-color: white;
    color: rgb(59 130 246);
}